.gradient-form-button {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(to right, rgb(234,147,30), rgb(250,52,5));
    border: none;
margin-top: 21px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
    width: 600px;
    
}
form span{
    width: inherit;
    display: flex;
   
    flex-direction: row;

}
form span input{
   flex-basis:50% ;
   height: 25px;
}
form input{
    border: 1px solid rgb(234,147,30);
    color: white;
    background-color: rgb(14,14,14);
    height: 100px;
    margin-top: 21px;
    

}
.formGetInTouch{
    display: flex;
    flex-direction: column;
   /* border: 3px solid red; */
    align-items: center;
    width: inherit;
    height: 500px;
   
}

