.weBuild{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.card1{
    background-color: rgb(29, 29, 29);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    /* border: 1px solid orange; */
    width: 250px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin-right: 10px;
}

.cardImage{
    width: 50px;
    height: 50px;
}

.stars{
    width: 75px;
    height: 16px;
}

.weBuild2{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

#para{
    color: rgb(142  , 142, 143);
}